<launch>

    <arg name="record_rosbags" value="true"></arg>
    <include file="$(find task_master)/launch/task_master.launch">
        <arg name="record_rosbag" value="$(record_rosbags)"/>
    </include>
    <include file="$(find prop_mapper)/launch/prop_mapper.launch">
        <arg name="record_rosbag" value="$(record_rosbags)"/>
    </include>
    <include file="$(find nav_channel)/launch/nav_channel.launch"></include>
</launch>