<launch>
    <include file="$(find task_master)/launch/sim_task_master.launch"></include>
    <include file="$(find prop_mapper)/launch/sim_prop_mapper.launch"></include>
    <include file="$(find nav_channel)/launch/sim_nav_channel.launch"></include>
    <include file="$(find speed_challenge)/launch/sim_speed_challenge.launch"></include>
    
</launch>