<launch>
    <node pkg="task_master" type="task_ctrl" name="task_ctrl_node" output="screen"/>
    <node pkg="task_master" type="wp_filter_sender" name="wp_filter_sender" output="screen">
        <remap from="mavros/setpoint_position/local" to="/gazebo_conversion/mavros/setpoint_position/local"/>
    </node>
    <node pkg="task_master" type="mavros_2_gazebo_conversion" name="mavros_2_gazebo_conversion" output="screen"/>
    <node pkg="task_master" type="gazebo_2_mavros_conversion" name="gazebo_2_mavros_conversion" output="screen"/>
    </launch>

